body{
    margin: 0px;
    background-color:#212227;
    color: white;
}

#topbar{
    background-color: black ;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

#header-container{
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: white;
    text-decoration:none ;
    padding: 20px;
}

#logo{
    padding: 25px;
    color: red;
}

